@import 'tailwindcss';
@import "tw-animate-css";
/* import primevue */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}
.primary{
    color: #6d28d9;
}
@theme {
    --color-primary: #6d28d9;
}
html{
    scroll-behavior: smooth;
}
.animate-delay-1{
    animation-delay: 0.090s !important;
}
.animate-delay-2{
    animation-delay: 0.130s !important;
}
.iconhtml { color: #E34F26; }          /* zet currentColor */
.iconhtml svg { width: 2rem; height: 2rem; display: inline-block; }
.iconhtml svg path { fill: currentColor; }  /* forceer fill op path */

.icontail { color: #06B6D4; }
.icontail svg { width: 2rem; height: 2rem; display: inline-block; }
.icontail svg path { fill: currentColor; }

.iconlara { color: #FF2D20; }
.iconlara svg { width: 2rem; height: 2rem; display: inline-block; }
.iconlara svg path { fill: currentColor; }

.iconcss { color: #663399; }
.iconcss svg { width: 2rem; height: 2rem; display: inline-block; }
.iconcss svg path { fill: currentColor; }

.iconvue { color: #4FC08D; }
.iconvue svg { width: 2rem; height: 2rem; display: inline-block; }
.iconvue svg path { fill: currentColor; }

.iconjava { color: #F7DF1E; }
.iconjava svg { width: 2rem; height: 2rem; display: inline-block; }
.iconjava svg path { fill: currentColor; }

.iconhead { color: #66E3FF; }
.iconhead svg { width: 2rem; height: 2rem; display: inline-block; }
.iconhead svg path { fill: currentColor; }

.iconprime { color: #41B883; }
.iconprime svg { width: 2rem; height: 2rem; display: inline-block; }
.iconprime svg path { fill: currentColor; }

.iconalp { color: #8BC0D0; }
.iconalp svg { width: 2rem; height: 2rem; display: inline-block; }
.iconalp svg path { fill: currentColor; }

.iconfila { color: #FDAE4B; }
.iconfila svg { width: 2rem; height: 2rem; display: inline-block; }
.iconfila svg path { fill: currentColor; }

.iconmysql { color: #4479A1; }
.iconmysql svg { width: 2rem; height: 2rem; display: inline-block; }
.iconmysql svg path { fill: currentColor; }

.iconlite { color: #003B57; }
.iconlite svg { width: 2rem; height: 2rem; display: inline-block; }
.iconlite svg path { fill: currentColor; }

.iconsharp { color: #9179E4; }
.iconsharp svg { width: 2rem; height: 2rem; display: inline-block; }
.iconsharp svg path { fill: currentColor; }

.iconfigma { color: #F24E1E; }
.iconfigma svg { width: 2rem; height: 2rem; display: inline-block; }
.iconfigma svg path { fill: currentColor; }

.iconduck { color: #DE5833; }
.iconduck svg { width: 2rem; height: 2rem; display: inline-block; }
.iconduck svg path { fill: currentColor; }

@custom-variant dark (&:where(.dark, .dark *));
@keyframes bounce-right {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(3px); }
}
.animate-bounce-right {
    animation: bounce-right 1s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bounce-down {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(3px); }
}
.animate-bounce-down {
    animation: bounce-down 1s infinite;
    animation-timing-function: ease-in-out;
}

.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.21 0.006 285.885);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.705 0.015 286.067);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.21 0.006 285.885);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.92 0.004 286.32);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}

